.courses {
  padding: 120px 20px 60px;
  background: white;
  color: #0f0f0f;
  min-height: 100vh;
}

/* Header */
.courses-header {
  text-align: center;
  margin-bottom: 60px;
}

.courses-header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.courses-header p {
  color: #616161;
  max-width: 600px;
  font-size: 16px;
  margin: 0 auto;
}

/* Grid */
.courses-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 1100px;
  margin: 0 auto;
}

/* Card */
.course-card {
  background: #fefefe;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
  border: 1px solid #C2C0C0;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* Imagen */
.course-image {
  height: 180px;
  overflow: hidden;
}

.course-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.course-card:hover img {
  transform: scale(1.05);
}

/* Contenido */
.course-content {
  padding: 20px;
}

.course-level {
  font-size: 14px;
  background: rgba(0, 150, 255, 0.2);
  color: #4dabff;
  padding: 4px 8px;
  border-radius: 6px;
}

.course-content h2 {
  margin: 10px 0;
  font-size: 18px;
}

.course-content p {
  font-size: 14px;
  color: #aaa;
}

/* Footer */
.course-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

/*
.price {
  font-weight: bold;
  font-size: 18px;
}
  */

.course-footer {
    justify-content: center;
}

.course-footer button {
  background: #4dabff;
  border: none;
  padding: 8px 14px;
  margin: 0 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.course-footer button:hover {
  opacity: 0.85;
}

/* CTA */
.courses-cta {
  text-align: center;
  margin-top: 80px;
}

.courses-cta h3 {
  font-size: 24px;
}

.courses-cta p {
  color: #aaa;
  margin: 10px 0 20px;
}

.courses-cta button {
  background: #4dabff;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 900px) {
  .courses-grid {
    grid-template-columns: 1fr;
  }
}
